.formularios {
    float: none;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 15px;
    width: 80%;
    clear: both;
    padding: 30px;
    box-shadow: 0px 2px 2px #000;
    -moz-box-shadow: 0px 2px 2px #000;
    -webkit-box-shadow: 0px 2px 2px #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: rgb(240, 244, 248);
    /* Old browsers */
}

#contenedor {
    display: grid;
    grid-template-columns: 20fr 1fr;
}

#titulo {
    font-family: 'Roboto';
    text-align: center;
    font-size: 40px;
    color: #260B17;
    margin-top: 15px;
    margin-left: 15px;
}

#subtitulo {
    font-family: 'Roboto';
    text-align: center;
    font-size: 25px;
    color: #260B17;
    margin-top: 15px;
    margin-left: 15px;
}

#opacidad {
    opacity: 0.8;
}

#opacidad a:hover {
    opacity: 1;
}

#motivoViaje {
    width: 325px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#sedeViaje {
    width: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#destinoViaje {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#textosFechas {
    float: left;
    width: 150px;
    margin-top: 8px;
    margin-left: 15px;
}

#fechaViaje {
    float: left;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#observacionViaje {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#textoBuscarDNI {
    width: 150px;
    margin-top: 8px;
    margin-left: 15px;
}

#ubicacionBusqueda {
    top: -30px;
    left: 130px;
}

#busquedaEncargado {
    width: 200px;
    margin-bottom: 10px;
}

#nombreEncargado {
    top: -30px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#apellidoEncargado {
    top: -30px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dniEncargado {
    top: -30px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#direccionEncargado {
    top: -30px;
    width: 325px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#telefonoEncargado {
    top: -30px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#emailEncargado {
    top: -30px;
    width: 325px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#grupoSanguineoEncargado {
    top: -30px;
    width: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#polizaEncargado {
    top: -30px;
    width: 240px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#observacionEncargado {
    top: -30px;
    width: 695px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#busquedaAlumno {
    margin-left: 10%;
    width: 200px;
    margin-bottom: 2%;
}

#busquedaAlumno2 {
    margin-left: 1%;
    width: 200px;
    margin-bottom: 2%;
}

#nombrePasajeroAlumno {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#apellidoPasajeroAlumno {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dniPasajeroAlumno {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#telefonoPasajeroAlumno {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#direccionPasajeroAlumno {
    width: 325px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#codigoMatriculaPasajeroAlumno {
    width: 185px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#numeroMatriculaPasajeroAlumno {
    width: 185px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#grupoSanguineoAlumno {
    width: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#polizaPasajeroAlumno {
    width: 240px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#observacionPasajeroAlumno {
    width: 695px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#agregarPasajeroAlumno {
    margin-top: 2%;
    margin-left: 45%;
}

#botton {
    text-align: center;
    margin-top: 10px;
}

.estilo {
    float: none;
    margin-bottom: 5px;
    margin-top: 5px;
    border-color: #E27B10;
    font-family: Roboto;
    font-size: 20px;
    color: #260B17;
    opacity: 0.7;
}

#tamanioTabla {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#tamanioNombreApellido {
    width: 5%;
}

#tamanioDniPoliza {
    width: 5%;
}

#tamanioIconos {
    width: 1%;
}

#botton a:hover {
    opacity: 1;
}

#botton2 {
    text-align: center;
    margin-bottom: 10px;
}

#agregar2 {
    float: none;
    background: #42C576;
    border-color: #42C576;
    font-family: Roboto;
    font-size: 20px;
    color: #260B17;
    opacity: 0.5;
}

#botton2 a:hover {
    opacity: 1;
}


/* formulario Pop*/

.overlay {
    position: fixed;
    top: -15%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#popupBody {
    width: 80%;
    padding: 2%;
    border-radius: 15px;
    background: #FFF;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;
}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
}