body {
    overflow-x: hidden;
}


/* FORMULARIOS */

.formularios {
    float: none;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 15px;
    width: 80%;
    clear: both;
    padding: 30px;
    box-shadow: 0px 2px 2px #000;
    -moz-box-shadow: 0px 2px 2px #000;
    -webkit-box-shadow: 0px 2px 2px #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: rgb(240, 244, 248);
}

#contenedor {
    display: grid;
    grid-template-columns: 20fr 1fr;
}

#titulo {
    font-family: 'Roboto';
    text-align: center;
    font-size: 40px;
    color: #260B17;
    margin-top: 15px;
    margin-left: 15px;
}

#subtitulo {
    font-family: 'Roboto';
    text-align: center;
    font-size: 25px;
    color: #260B17;
    margin-top: 15px;
    margin-left: 15px;
}

#opacidad {
    opacity: 0.8;
}

#opacidad a:hover {
    opacity: 1;
}


/* FORMULARIO DATOS DEL VIAJE */

#motivoViaje {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#sedeViaje {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#tamagnioSede {
    width: 250px;
}

#destinoViaje {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#textosFechas {
    float: left;
    width: 150px;
    margin-top: 8px;
    margin-left: 15px;
}

#fechaViaje {
    float: left;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#observacionViaje {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* FORMULARIO DATOS DEL ENCARGADO */

#textoBuscarDNI {
    width: 250px;
    margin-top: 8px;
    margin-left: 15px;
}

#busquedaEncargado {
    float: left;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#nombreEncargado {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#apellidoEncargado {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dniEncargado {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#direccionEncargado {
    width: 377px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#telefonoEncargado {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#emailEncargado {
    width: 377px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#grupoSanguineoEncargado {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#tamagnioGrupoSanguineo {
    width: 250px;
}

#polizaEncargado {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#observacionEncargado {
    width: 760px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* TABLA ENCARGADOS */

#tamanioTabla {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#tamanioNombreApellido {
    width: 5%;
}

#tamanioDniPoliza {
    width: 5%;
}

#tamanioIconos {
    width: 1%;
}


/* AGREGAR PASAJEROS*/

#botonesAgregarPasajeros {
    text-align: center;
}


/* FORMULARIO AGREGAR ALUMNOS */

#textoBuscarMatricula {
    font-size: 16px;
    margin-top: 8px;
    margin-left: 15px;
}

#busquedaAlumno {
    min-width: 145px;
    width: 49%;
    margin-bottom: 2%;
}

#busquedaAlumno2 {
    min-width: 145px;
    width: 49%;
    margin-bottom: 2%;
}

#nombrePasajeroAlumno {
    min-width: 145px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#apellidoPasajeroAlumno {
    min-width: 145px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dniPasajeroAlumno {
    min-width: 145px;
    width: 32.4%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#telefonoPasajeroAlumno {
    min-width: 145px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#direccionPasajeroAlumno {
    min-width: 295px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#codigoMatriculaPasajeroAlumno {
    min-width: 145px;
    width: 23.7%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#numeroMatriculaPasajeroAlumno {
    min-width: 144px;
    width: 23.7%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#grupoSanguineoAlumno {
    min-width: 144px;
    width: 33%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#tamanioGrupoSanguineoAlumno {
    min-width: 145px;
    width: 98%;
}

#polizaPasajeroAlumno {
    min-width: 144px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#observacionPasajeroAlumno {
    min-width: 295px;
    width: 98.3%;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* FORMULARIO AGREGAR DOCENTE */

#textoBuscarLegajo {
    font-size: 16px;
    margin-top: 8px;
    margin-left: 15px;
}

#busquedaDocente {
    min-width: 145px;
    width: 49%;
    margin-bottom: 2%;
}

#nombrePasajeroDocente {
    min-width: 145px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#apellidoPasajeroDocente {
    min-width: 145px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dniPasajeroDocente {
    min-width: 145px;
    width: 32.4%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#telefonoPasajeroDocente {
    min-width: 145px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#direccionPasajeroDocente {
    min-width: 295px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#legajoPasajeroDocente {
    min-width: 295px;
    width: 49%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#grupoSanguineoDocente {
    min-width: 144px;
    width: 33%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#tamanioGrupoSanguineoDocente {
    min-width: 145px;
    width: 98%;
}

#polizaPasajeroDocente {
    min-width: 144px;
    width: 49%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#observacionPasajeroDocente {
    min-width: 295px;
    width: 98.3%;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* FORMULARIO AGREGAR OTROS */

#nombrePasajeroOtro {
    min-width: 145px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#apellidoPasajeroOtro {
    min-width: 145px;
    width: 32.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dniPasajeroOtro {
    min-width: 295px;
    width: 32.4%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#textoOtros {
    float: left;
    min-width: 160px;
    margin-top: 10px;
    text-align: left;
}

#fechaNacimientoPasajeOtro {
    min-width: 135px;
    width: 32.4%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#telefonoPasajeroOtro {
    min-width: 115px;
    width: 42.6%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#direccionPasajeroOtro {
    min-width: 145px;
    width: 55.4%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#grupoSanguineoOtro {
    min-width: 294px;
    width: 52%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#tamanioGrupoSanguineoOtro {
    min-width: 295px;
    width: 99%;
}

#aseguradoraPasajeroOtro {
    min-width: 144px;
    width: 49%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#polizaPasajeroOtro {
    min-width: 144px;
    width: 49%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#razonViajePasajeroOtro {
    min-width: 295px;
    width: 98.3%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#observacionPasajeroOtro {
    min-width: 295px;
    width: 98.3%;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* TABLA PASAJEROS */

#tamanioTablaPasajeros {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

#tamanioNombreApellidoPasajero {
    width: 4.5%;
}

#tamanioTipoPasajero {
    width: 3%;
}

#tamanioDniPolizaPasajero {
    width: 4%;
}


/* GENERAL */

.estilo {
    float: none;
    margin-bottom: 5px;
    margin-top: 5px;
    border-color: #E27B10;
    font-family: Roboto;
    font-size: 20px;
    color: #260B17;
    opacity: 0.7;
}

#botton {
    text-align: center;
    margin-top: 10px;
}

#botton a:hover {
    opacity: 1;
}

#botton2 {
    text-align: center;
    margin-bottom: 10px;
}

#botton2 a:hover {
    opacity: 1;
}


/* FORMULARIOS POPUP ALUMNOS/GRADUADOS, DOCENTES/NODOCENTES, OTROS */

#popup {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#popup2 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#popup3 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#popup4 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#popup5 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

#popup6 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin: 0px auto;
    margin-top: 5%;
    position: relative;
    padding: 5px;
    width: 85%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px #666666;
}

.popup-overlay {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.popup-overlay2 {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.popup-overlay3 {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.popup-overlay4 {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.popup-overlay5 {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.popup-overlay6 {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close {
    position: absolute;
    right: 15px;
}

.close2 {
    position: absolute;
    right: 15px;
}

.close3 {
    position: absolute;
    right: 15px;
}

.close4 {
    position: absolute;
    right: 15px;
}

.close5 {
    position: absolute;
    right: 15px;
}

.close6 {
    position: absolute;
    right: 15px;
}

#agregar2 {
    float: none;
    background: #42C576;
    border-color: #42C576;
    font-family: Roboto;
    font-size: 20px;
    color: #260B17;
    opacity: 0.5;
}