.nav-bar {
    background-color: rgb(44, 11, 28);
}

.hamburguesa-item {
    color: rgb(201, 95, 0);
}

#logo {
    width: 200px;
}

.button-sesion {
    background-color: rgb(44, 11, 28);
    border: 1.3px solid rgb(201, 95, 0);
    border-radius: 5px;
    padding: 6px 3px;
    color: rgb(201, 95, 0);
}

.button-sesion-min {
    display: block;
    width: 100%;
    text-align: center;
}

.button-sesion:hover {
    background-color: rgb(201, 95, 0);
    color: rgb(44, 11, 28);
}